---
apiVersion: '{{ deployment_api_version }}'
kind: '{{ deployment_kind }}'
metadata:
  name: '{{ deployment_name }}'
  namespace: '{{ ansible_operator_meta.namespace }}'
spec:
  {{ spec | to_yaml | indent(2) }}
