# Ignore pyenv file
.python-version

# Ignore pipenv files
Pipfile
Pipfile.lock

# Ignore development and testing artifacts
.vscode
bin
hacking/*
test*
testing/*
testbin/*

# Ignore mkdocs builds
site
