---
apiVersion: v1
kind: Secret
metadata:
  name: "{{ ansible_operator_meta.name }}-server"
  namespace: "{{ ansible_operator_meta.namespace }}"
stringData:
  settings.py: |
{% for setting, value in pulp_combined_settings.items() %}
    {{ setting | upper }} = {{ value }}
{% endfor %}
{% for item in extra_settings | default([]) %}
    {{ item.setting }} = {{ item.value }}
{% endfor %}
