---
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: '{{ ansible_operator_meta.name }}-worker'
  namespace: '{{ ansible_operator_meta.namespace }}'
  labels:
    {{ lookup("template", "../common/templates/labels/common.yaml.j2") | indent(4) | trim }}
    app.kubernetes.io/component: worker
spec:
  podSelector:
    matchLabels:
      app.kubernetes.io/name: '{{ deployment_type }}-worker'
      app.kubernetes.io/instance: '{{ deployment_type }}-worker-{{ ansible_operator_meta.name }}'
      app.kubernetes.io/component: worker
  policyTypes:
    - Egress
  egress:
    # Allow DNS resolution via OpenShift DNS
    - to:
        - namespaceSelector:
            matchLabels:
              kubernetes.io/metadata.name: openshift-dns
      ports:
        - protocol: TCP
          port: 5353
        - protocol: UDP
          port: 5353
    # Unrestricted egress required: workers execute collection import tasks
    # that fetch from user-configured remote registries and signing services
    # whose destinations cannot be enumerated at policy creation time.
    - {}
