---
- name: Check settings
  assert:
    that: pulp_settings is undefined
    fail_msg: >-
      [WARNING]: pulp_settings: is deprecated and will be removed in a future release.\n
      Please use extra_settings: instead.
    quiet: true
  ignore_errors: true

- name: Getting raw pulp_settings
  set_fact:
    raw_pulp_settings: "{{ raw_spec['pulp_settings'] | default({}) }}"
  no_log: "{{ no_log }}"
  when: pulp_settings is defined

- name: Combining pulp_settings
  set_fact:
    pulp_combined_settings: "{{ default_settings|combine(raw_pulp_settings, recursive=True) if pulp_settings is defined and pulp_settings is not none else default_settings }}"
  no_log: "{{ no_log }}"

# Workaround being unable to do the following, for the subsequent task:
# when: (pulp_settings is not defined) or
#   (pulp_settings.content_origin is not defined)
# (short-circuit evaluation only works for multiple separate when statements)
# https://github.com/ansible/ansible/issues/50554
- name: Setting CONTENT_ORIGIN
  set_fact:
    content_origin_temp: pulp_settings.content_origin
  when:
    - pulp_settings is defined
    - pulp_settings.content_origin is defined

- name: Getting raw pulp_settings
  set_fact:
    raw_pulp_settings: "{{ raw_spec['pulp_settings'] | default({}) }}"
  no_log: "{{ no_log }}"
  when: pulp_settings is defined

- name: Set default token authentication secret name if not set by user
  set_fact:
    container_token_secret: '{{ ansible_operator_meta.name }}-container-auth'
    cacheable: yes
  when: container_token_secret is not defined

- include_tasks:
    file: get_node_ip.yml
  when: content_origin_temp is not defined

- name: Set default CSRF_TRUSTED_ORIGINS to be used if not set by user
  set_fact:
    _trusted_origin_1: "http://{{ default_settings.content_origin.split('://')[1] }}"
    _trusted_origin_2: "https://{{ default_settings.content_origin.split('://')[1] }}"
  when:
    - default_settings is defined
    - default_settings.content_origin is defined

- name: Set CSRF_TRUSTED_ORIGINS list based on content_origin
  set_fact:
    _csrf_trusted_origins: "{{ csrf_trusted_origins | default([]) + [_trusted_origin_1, _trusted_origin_2] }}"
  when:
    - default_settings is defined
    - default_settings.content_origin is defined

- name: Set default CSRF_TRUSTED_ORIGINS if not set by user
  set_fact:
    default_settings: "{{ default_settings | combine({'csrf_trusted_origins': _csrf_trusted_origins}) }}"
  when:
    - default_settings is defined
    - default_settings.content_origin is defined

- name: Combining pulp_settings
  set_fact:
    pulp_combined_settings: "{{ default_settings|combine(raw_pulp_settings, recursive=True) if pulp_settings is defined and pulp_settings is not none else default_settings }}"
    cacheable: yes
  no_log: "{{ no_log }}"
