---
# Required: specify name of Galaxy backup
backup_name: ''

# Required: specify a pre-created PVC (name) to restore from
backup_pvc: ''
backup_pvc_namespace: "{{ ansible_operator_meta.namespace }}" # deprecated

# Required: backup name, found on the backup object
backup_dir: ''

admin_password_name: ''
db_secret_name: ''
storage_secret: ''
signing_secret: ''
container_token_secret: ''
db_fields_encryption_secret: ''
sso_secret: ''

# Default cluster name
cluster_name: '' # On most clusters, this is 'cluster.local'

# Default resource requirements
restore_resource_requirements:
  limits:
    cpu: "1000m"
    memory: "4096Mi"
  requests:
    cpu: "25m"
    memory: "32Mi"

spec_overrides: {}
