---
- name: Check for existing {{ deployment_type }} deployment
  block:
    - name: Check if {{ kind }} CR exists by name
      kubernetes.core.k8s_info:
        kind: "{{ kind }}"
        api_version: '{{ api_version }}'
        name: "{{ ansible_operator_meta.name }}"
        namespace: '{{ ansible_operator_meta.namespace }}'
      register: existing_deployment

    - name: Set previous_version version based on {{ deployment_type }} CR version status
      ansible.builtin.set_fact:
        previous_version: "{{ existing_deployment.resources[0].status.deployedVersion }}"
      when:
        - existing_deployment.resources | length > 0
        - existing_deployment.resources[0].status.deployedVersion is defined

- name: Check previous_version against gating_version if defined
  block:

    - name: Set upgraded_from to previous_version ({{ previous_version }}) if older than gating_version ({{ gating_version }})
      ansible.builtin.set_fact:
        upgraded_from: "{{ previous_version }}"
      when:
        - previous_version is version(gating_version, '<')

  when: gating_version | length
