---
apiVersion: v1
kind: Secret
metadata:
  name: "{{ ansible_operator_meta.name }}-server"
  namespace: "{{ ansible_operator_meta.namespace }}"
stringData:
  settings.py: |
{% for setting, value in pulp_combined_settings.items() %}
    {{ setting | upper }} = {{ value }}
{% endfor %}

{% if ldap_password_secret -%}
    # Import all so that extra_settings works properly
    from django_auth_ldap.config import *

    # Load LDAP BIND password from Kubernetes secret if define
    AUTH_LDAP_BIND_PASSWORD = "{{ ldap_bind_password }}"

    AUTH_LDAP_GLOBAL_OPTIONS = {
{% if ldap_cacert_ca_crt %}
      ldap.OPT_X_TLS_REQUIRE_CERT: True,
      ldap.OPT_X_TLS_CACERTFILE: "/etc/openldap/certs/ldap-ca.crt"
{% endif %}
    }
{% endif %}

{% for item in extra_settings | default([]) %}
    {{ item.setting }} = {{ item.value }}
{% endfor %}
