---
apiVersion: v1
kind: Secret
metadata:
  name: "{{ ansible_operator_meta.name }}-server"
  namespace: "{{ ansible_operator_meta.namespace }}"
stringData:
  settings.py: |
    import os
    import traceback

    from split_settings.tools import optional, include

{% for setting, value in pulp_combined_settings.items() %}
    {{ setting | upper }} = {{ value | string | capitalize if value | string in ["True", "False"] else value | to_json }}
{% endfor %}

    # Attempt to load settings from /etc/pulp/conf.d/*.py.
    settings_dir = os.environ.get('PULP_SETTINGS_DIR', '/etc/pulp/conf.d/')
    settings_files = os.path.join(settings_dir, '*.py')
    try:
        include(optional(settings_files), scope=locals())
    except ImportError:
        traceback.print_exc()
        sys.exit(1)
