---
apiVersion: v1
kind: Secret
metadata:
  name: '{{ ansible_operator_meta.name }}-secret-key'
  namespace: '{{ ansible_operator_meta.namespace }}'
stringData:
  secret_key: '{{ lookup("password", "/dev/null length=50 chars=ascii_letters,digits") }}'
