---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: galaxyrestores.galaxy.ansible.com
spec:
  group: galaxy.ansible.com
  names:
    kind: GalaxyRestore
    listKind: GalaxyRestoreList
    plural: galaxyrestores
    singular: galaxyrestore
  scope: Namespaced
  versions:
    - additionalPrinterColumns:
      - description: Status
        jsonPath: .status.conditions[0].status
        name: Status
        type: string
      - description: Message
        jsonPath: .status.conditions[0].message
        name: Message
        type: string
      name: v1beta1
      served: true
      storage: true
      subresources:
        status: {}
      schema:
        openAPIV3Schema:
          type: object
          description: Schema validation for the GalaxyRestore CRD
          properties:
            spec:
              x-kubernetes-validations:
                - rule: "has(self.postgres_image) && has(self.postgres_image_version) || !has(self.postgres_image) && !has(self.postgres_image_version)"
                  message: "Both postgres_image and postgres_image_version must be set when required"
              type: object
              properties:
                backup_source:
                  description: backup source
                  type: string
                  enum:
                    - CR
                    - PVC
                deployment_name:
                  description: Name of the deployment to be restored to
                  type: string
                backup_name:
                  description: Name of the backup custom resource
                  type: string
                backup_pvc:
                  description: Name of the PVC to be restored from, set as a status found on the backup object (backupClaim)
                  type: string
                backup_pvc_namespace:
                  description: Namespace the PVC is in (Deprecated)
                  type: string
                backup_dir:
                  description: Backup directory name, set as a status found on the backup object (backupDirectory)
                  type: string
                storage_type:
                  description: Configuration for the storage type utilized in the backup
                  enum:
                    - file
                    - File
                    - s3
                    - S3
                    - azure
                    - Azure
                  type: string
                restore_resource_requirements:
                  description: Resource requirements for the management pod used to do a restore
                  properties:
                    requests:
                      properties:
                        cpu:
                          type: string
                        memory:
                          type: string
                      type: object
                    limits:
                      properties:
                        cpu:
                          type: string
                        memory:
                          type: string
                      type: object
                  type: object
                force_drop_db:
                  default: false
                  description: Force drop the database of the new Galaxy before restoring. USE WITH CAUTION!
                  type: boolean
                no_log:
                  default: true
                  description: Configure no_log (hides sensitive information in operator/task logs)
                  type: boolean
                postgres_image:
                  description: Registry path to the PostgreSQL container to use for restore
                  type: string
                postgres_image_version:
                  description: PostgreSQL container image version to use for restore
                  type: string
                postgres_label_selector:
                  description: Label selector used to identify postgres pod for executing migration
                  type: string
                spec_overrides:
                  description: Overrides for the Galaxy spec
                  type: object
                  x-kubernetes-preserve-unknown-fields: true
            status:
              properties:
                restoreComplete:
                  description: The state of the restore
                  type: boolean
                conditions:
                  items:
                    properties:
                      status:
                        type: string
                      type:
                        type: string
                      reason:
                        type: string
                      lastTransitionTime:
                        format: date-time
                        type: string
                      message:
                        type: string
                    required:
                    - lastTransitionTime
                    - status
                    - type
                    type: object
                  type: array
              type: object
